<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         colors="true"
         cacheDirectory=".phpunit.cache">
    <testsuites>
        <testsuite name="ACEP">
            <directory>tests/Feature</directory>
            <directory>tests/Unit</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory suffix=".php">includes</directory>
            <directory suffix=".php">api</directory>
        </include>
    </source>
    <php>
        <const name="ACEP_TESTING" value="true"/>
    </php>
</phpunit>
